/* PAGE RESET STYLES */
* {margin: 0; padding: 0; box-sizing: border-box;}

/* General styles */
:root {
    /* background colors */
    --bg-white: #fff;
    --bg-darker: #D9D9D9;
    --bg-violet: #8758FF;

    /* font color */
    --title-font: #000;
    --sub-title-font: #1e1e1e;
    --small-font: #7d7d7d;
    --font: #969696;
}

body {
    /* max-width: 1440px; */
    width: 100%;
    min-height: 100vh;
    font-family: sans-serif;
    font-style: normal;
    background-color: #f2f2f2;
    /* background-color: red; */

    display: grid;
    grid-template-columns: 50px repeat(2, 1fr);
    grid-template-rows: 56px 1fr;
}
.vertical-nav {
    grid-column: 1;
    grid-row: 1/3;
}
svg {
    width: 20px;
    height: 20px;

    fill: var(--font);
}

/* Navigation styles */
.nav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
    grid-column: 2/4;
    border-left: 1px solid var(--font);

    padding: .5rem .9rem;
    /* max-width: 1268px; */
    width: 100%;
    height: 56px;
    
    background-color: var(--bg-white);
}
.search-section {
    width: 459px;
    height: 42px;
    padding: 5px 15px;
    border-radius: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    background-color: var(--bg-darker);
}
.search-section:focus {
    outline: 2px solid blue;
    outline-offset: 2px;
}
.search-box_start {
    position: relative;
    width: 100%;
    height: 100%;
}
.search-box_start > input {
    border: none;
    height: inherit;
    width: inherit;
    padding: 0 0 0 1.5rem;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 8.914px; /* 55.713% */

    background-color: transparent;
}
.search-box_start > input:focus,
.search-box_start > input:focus {
    border: none;
    outline: none;
}
.search-box_start > input::placeholder {
    color: var(--font);
    font-weight: 400;
}
.search-box_start > svg {
    position: absolute;
    left: 0;
    top: 5px;
}
/* .search-section svg,
.user-panel svg,
.page-control_navs svg {
    width: 20px;
    height: 20px;

    fill: var(--font);
} */

/* User panel styles */
.user-panel {
    width: 132px;
    height: 52px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    background-color: transparent;
}
.user-panel button {
    background-color: transparent;
    border: none;

    display: flex;
    align-items: center;
}
.profile-image {
    width: 50px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 2rem; */
    font-size: max(16px, min(5vw, 2rem));
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Vertical nav */
.vertical-nav {
    display: inline flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 0;
    width: 48px;
    height: 100%;
    background-color: var(--bg-white);
    
}
.logo {
    width: 100%;
    height: 40px;
    cursor: pointer;

    display: flex;
    justify-content: center;
}
.logo img {
    width: 90%;
    height: 90%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.functional_navs {
    height: 481px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}
.page-control_navs {
    width: 30px;
    height: 90px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/* .functional_navs .logo, */
.page-control_navs svg {
    width: 30px;
    height: 30px;
}

/* Main Application styles */
main {
    grid-column: 2/4;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto 1fr;
    gap: 10px;
    padding: 1rem;
}

.header-container {
    grid-column: 1/-1;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

}
.title_duration {
    width: 308px;
    height: 69px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.vote_title {
    /* font-size: 32px; */
    font-size: max(20px, min(3vw, 2.5rem));
    color: var(--title-font);

    width: fit-content;
}
.sorting_date {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.sorting_date > * {
    width: fit-content;
    font-size: 14px;
    font-weight: 500;
    color: var(--sub-title-font);
    padding: 1rem;
    border-radius: 40px;
    background-color: var(--bg-white);

    display: flex;
    gap: 10px;
    align-items: center;
}

/* User statistics styles */
.users-statistics {
    grid-column: 1/3;

    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 100px;

    padding: 0;
}
.users-statistics > * {
    flex: 1;
}
.time_limit, .user_activity {
    border-radius: 10px;
    padding: .5rem 1rem;
}
.user_activity,
.time_limit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

/* Voting styles */
.voting {
    grid-column: 1/3;
    grid-row: 3/4;

    padding: .5rem 1rem;

    display: flex;
    flex-direction: column;
    gap: 10px;
    /* justify-content: space-around; */
}
.vote_statistics {
    grid-column: 3/4;
    grid-row: 2/4;

    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
main > *:not(section:nth-of-type(1)) {
    border-radius: 10px;
}
.voting > p {
    display: inline;
}
.voting > header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 0 .5rem;
}
.tab_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    height: 40px;
    width: 150px;
    background-color: var(--bg-darker);
    border-radius: 40px;
}
.tab_container > button {
    padding: 0 .5rem;
    border-radius: 40px;
    height: 90%;
}
.tab_container > button:hover {
    background-color: var(--bg-violet);
    color: var(--bg-white);
}
/* aspirants */
.aspirants {
    max-height: 360px;
    height: 100%;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 5px;
}
.aspirants::-webkit-scrollbar {
    display: none;
}

/* aspirant accordion */
.individual_aspirants {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;

    height: fit-content;
}
/* .individual_aspirants img {
    width: 100%;
    height: 100%;

    flex-basis: 100px;
} */
.individual_aspirants img {
    width: 100%;
    /* height: 100%; */
    width: clamp(50px, 50%, 100px);
    aspect-ratio: 1;
    object-fit: cover;
    flex-basis: 100px;
}
.individual_aspirants .vote-options {
    flex: 1 1 150px;
}
.yes {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    justify-content: center;
    margin: 1rem 1rem 0 0;
    cursor: pointer;
}
.yes:hover {
    background-color: #8758FF;
    font-weight: 600;
    color: var(--bg-white);
    position: relative;
}
/* .yes:hover::after {
    content: "voting for aspirant";
    position: absolute;
    right: -150px;
    color: #000;
    font-weight: normal;
} */
.yes:focus {
    outline: 2px solid blue;
    outline-offset: 2px;
}

/* Vote Statistics section */
.vote_statistics header {
    padding: 0 0 1rem;
    border-bottom: 1px solid var(--bg-darker);
}
.legend {
    height: 150px;
    padding: 1rem 0 0;
    border-top: 1px solid var(--bg-darker);

    display: flex;
    flex-direction: column;
    gap: 10px;

}
.aspirant_legend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.aspirant_legend :nth-child(2)  {
    flex: 4 1;
}
.aspirant_legend span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
}
.digit {
    flex: 1 1;
    text-align: right;
}



/* Hamburger styles */
.hamburger-menu_btn {
    width: 80%;
    height: 80%;

    background-color: transparent;
    border: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamburger-container {
    width: 90%;
    height: 90%;

    /* background-color: red; */
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}
.strokes {
    width: 100%;
    height: 5px;
    background-color: var(--small-font);
    
    border-radius: 20px;
}

.hamburger-menu_btn {
    display: none;
}





/* CLASS STYLES */
.vetted {
    background-color: #0d0;
    color: #fff;
    cursor: not-allowed;
}
.vetted.yes:hover {
    background-color: #0d0;
    font-weight: normal;
}
.small-text {
    color: var(--small-font);
    font-weight: 400;
    font-size: 12px;
}
.bg-color {
    background-color: var(--bg-white);
}
.normal-bold {
    font-size: 14px;
    font-weight: 600;
    color: var(--sub-title-font);
}
.hidden {
    display: none;
}
.inline-flex {
    display: inline flex;
    align-items: center;
}
.scroll {
    scrollbar-width: 50px;
}






/* MEDIA QUERY */
@media screen and (max-width: 768px) {

    /* vertical nav section */
    .vertical-nav {
        padding: unset;

        grid-row: 1;

        display: flex;
        justify-content: center;
    }
    .functional_navs {
        display: none;
    }
    .hamburger-menu_btn {
        display: block;
    }
    
    /* page control navs */
    .page-control_navs {
        position: fixed;
        bottom: 25%;
        right: 30px;
    }
    .page-control_navs > * {
        /* width: 30px;
        height: 30px; */

        width: 2rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        
        /* background-color: #8758FF; */
        background-color: #7d7d7d;
    }
    .page-control_navs svg {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        /* fill: #fff; */
        fill: #fff;
    }
    
    /* ==================== Main section ====================== */
    main {
        grid-column: 1/-1;
        
        display: flex;
        flex-direction: column;
        
        padding: 1rem;
    }
    .user-panel {
        gap: 8px;
    }
    
    /* header section styles */
    .header-container {
        flex-wrap: nowrap;
    }
    .title_duration {
        justify-content: center;
    }
    .sorting_date > * {
        padding: 0.5rem;
    }
    .sort span, .calendar span {
        display: none;
    }

    /* User participation / statistics styles */
    .users-statistics {
        height: fit-content;
    }

    /* yes button */
    .yes + span {
        display: block;
    }
    /* hiding aspirant svg */
    .individual_aspirants svg {
        display: none;
    }

}

@media screen and (max-width: 400px) {
    /* horizontal nav */
    .user-panel {
        width: fit-content;
    }
    
    .user-panel .help,
    .user-panel .notification {
        display: none;
    }
    
    
}

